body {
    background-color: rgb(39, 39, 71);
}

nav {
    margin: 2rem;
    padding: 1rem;
}

nav li:nth-child(-n+4) {
    margin: 1rem;
    float: left;
    border-bottom: 4px double black;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

section {
    margin: 2rem 0rem;
}

.container {
    margin: auto;
    padding: 1rem;
    border: 4px outset gray;
}

.container {
    border: 4px outset gray;
}


/*
Select all the photo in the container
*/

.container .photo:nth-child(-n+1) {
    float: left;
    margin: 4px;
    border: 2px outset gray;
    transition: all 0.5s ease-in-out;
}

.photo:nth-child(-n+1) img {
    margin: 1rem;
    width: 16rem;
    height: 9rem;
    border: 4px outset deepskyblue;
}

.photo:nth-child(-n+1) p {
    border: 2px outset gray;
    border-radius: 32px;
    padding: 4px;
}

.container .photo:nth-child(-n+1):hover {
    margin: 4px;
    border: 2px outset blue;
    background: navy;
    color: paleturquoise;
}

.photo:nth-child(-n+1):hover img {
    animation-name: race;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(2.5, 0.5, 0.2, 3.2);
}

.photo:nth-child(-n+1):hover p {
    border: 2px inset blue;
}

@keyframes race {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
}